*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background-color: RGB(255, 0, 1); }

.heading {
  width: 192rem;
  height: 65vh;
  background: radial-gradient(110% 50% at bottom, transparent 50%, rgba(51, 99, 175, 0.9) 51%), url(/img/cards.webp);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 86% 80%, 69% 75%, 44% 74%, 24% 77%, 11% 81%, 0 86%); }
  .heading__primary {
    width: 110rem;
    height: 36rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 19rem;
    left: 48%; }
    .heading__primary--box {
      width: 190rem;
      height: 50%; }

.cards {
  z-index: -1; }

.big-box {
  display: flex;
  height: 140rem;
  position: relative;
  perspective: 150rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: space-evenly; }

.card {
  perspective: 150rem; }
  .card__box {
    width: 40rem;
    height: 55rem;
    transition: transform 800ms ease; }
  .card__side {
    width: 40rem;
    height: 55.5rem;
    transition: all 0.5s ease-in;
    border-radius: 5px;
    transition: transform 800ms ease; }
    .card__side--sp-1 {
      width: 40rem;
      height: 55.5rem;
      background-image: url(https://assets.codepen.io/13471/sparkles.gif);
      background-size: 100%;
      z-index: 5;
      opacity: 0.7;
      border-radius: 1.5rem;
      mix-blend-mode: color-dodge;
      backface-visibility: visible; }
    .card__side--sp-2, .card__side--sp-3, .card__side--sp-4, .card__side--sp-5 {
      width: 40rem;
      height: 55.5rem;
      background-image: url(https://assets.codepen.io/13471/sparkles.gif);
      background-size: 100%;
      z-index: 5;
      opacity: 0.7;
      border-radius: 1.5rem;
      mix-blend-mode: color-dodge;
      backface-visibility: visible; }
    .card__side--front-1 {
      width: 40rem;
      height: 55.5rem;
      position: absolute;
      backface-visibility: hidden;
      transition: transform 800ms ease;
      background-size: 100%;
      border-radius: 1.5rem;
      background-image: url(https://assets.codepen.io/13471/charizard-gx.webp); }
    .card__side--front-2 {
      position: absolute;
      width: 40rem;
      height: 55.5rem;
      backface-visibility: hidden;
      transition: transform 800ms ease;
      background-size: 100%;
      border-radius: 1.5rem;
      background-image: url(https://assets.codepen.io/13471/eevee-gx.webp); }
    .card__side--front-3 {
      position: absolute;
      width: 40rem;
      height: 55.5rem;
      backface-visibility: hidden;
      transition: transform 800ms ease;
      background-size: 100%;
      border-radius: 1.5rem;
      background-image: url(https://assets.codepen.io/13471/mewtwo-gx.webp); }
    .card__side--front-4 {
      position: absolute;
      width: 40rem;
      height: 55.5rem;
      backface-visibility: hidden;
      transition: transform 800ms ease;
      background-size: 100%;
      border-radius: 1.5rem;
      background-image: url(https://assets.codepen.io/13471/pikachu-gx.webp); }
    .card__side--front-5 {
      position: absolute;
      width: 40rem;
      height: 55.5rem;
      backface-visibility: hidden;
      transition: transform 800ms ease;
      background-size: 100%;
      border-radius: 1.5rem;
      background-image: url(../img/alaka.png); }
    .card__side--front-6 {
      position: absolute;
      width: 40rem;
      height: 55.5rem;
      backface-visibility: hidden;
      transition: transform 800ms ease;
      background-size: 100%;
      border-radius: 1.5rem;
      background-image: url(../img/6.png); }
    .card__side--front-7 {
      position: absolute;
      width: 40rem;
      height: 55.5rem;
      backface-visibility: hidden;
      transition: transform 800ms ease;
      background-size: 100%;
      border-radius: 1.5rem;
      background-image: url(../img/s.png); }
    .card__side--front-8 {
      position: absolute;
      width: 40rem;
      height: 55.5rem;
      backface-visibility: hidden;
      transition: transform 800ms ease;
      background-size: 100%;
      border-radius: 1.5rem;
      background-image: url(../img/m.png); }
    .card__side--back-1 {
      width: 40rem;
      height: 55.5rem;
      backface-visibility: hidden;
      transition: transform 800ms ease;
      background-size: 100%;
      border-radius: 1.9rem;
      background-image: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
      transform: rotateY(180deg); }
    .card__side--back-2 {
      transform: rotateY(180deg);
      width: 40rem;
      height: 55.5rem;
      backface-visibility: hidden;
      transition: transform 800ms ease;
      background-size: 100%;
      border-radius: 1.9rem;
      background-image: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg); }
    .card__side--back-3 {
      transform: rotateY(180deg);
      width: 40rem;
      height: 55.5rem;
      backface-visibility: hidden;
      transition: transform 800ms ease;
      background-size: 100%;
      border-radius: 1.9rem;
      background-image: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg); }
    .card__side--back-4 {
      transform: rotateY(180deg);
      width: 40rem;
      height: 55.5rem;
      backface-visibility: hidden;
      transition: transform 800ms ease;
      background-size: 100%;
      border-radius: 1.9rem;
      background-image: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg); }
    .card__side:hover .card__side--front-1 {
      transform: rotateY(-180deg);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--front-6 {
      transform: rotateY(-180deg);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--front-7 {
      transform: rotateY(-180deg);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--front-8 {
      transform: rotateY(-180deg);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--back-1 {
      transform: rotateY(0);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--sp-1 {
      transform: rotateY(-180deg);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--front-2 {
      transform: rotateY(-180deg);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--back-2 {
      transform: rotateY(0);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--sp-2 {
      transform: rotateY(-180deg);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--front-3 {
      transform: rotateY(-180deg);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--back-3 {
      transform: rotateY(0);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--sp-3 {
      transform: rotateY(-180deg);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--front-4 {
      transform: rotateY(-180deg);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--back-4 {
      transform: rotateY(0);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--sp-4 {
      transform: rotateY(-180deg);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--front-5 {
      transform: rotateY(-180deg);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--back-5 {
      transform: rotateY(0);
      transition: transform 800ms ease; }
    .card__side:hover .card__side--sp-5 {
      transform: rotateY(-180deg);
      transition: transform 800ms ease; }
