.card {
  perspective: 150rem;

  &__box {
    width: 80%;
    height: 55.5rem;
    margin-left: 10%;
    position: relative;
    display: flex;
  }

  &__side {
    
    width: 40rem;
    height: 55.5rem;
    transition: all 0.5s ease-in;
    border-radius: 5px;
    transition: transform 800ms ease;

    &--sp {
      &-1{
        width: 40rem;
        height: 55.5rem;
        background-image: url(https://assets.codepen.io/13471/sparkles.gif);
        background-size: 100%;
        z-index: 5;
        opacity: 0.7;
        border-radius: 1.5rem;
        mix-blend-mode: color-dodge;
        backface-visibility: visible;

      }
     

      &-2,
      &-3,
      &-4 {
        width: 40rem;
        height: 55.5rem;
        background-image: url(https://assets.codepen.io/13471/sparkles.gif);
        background-size: 100%;
        z-index: 5;
        opacity: 0.7;
        border-radius: 1.5rem;
        mix-blend-mode: color-dodge;
        backface-visibility: visible;
      }
    }

    &--front {
      &-1{
        width: 40rem;
      height: 55.5rem;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      transition: transform 800ms ease;
      background-size: 100%;
      border-radius: 1.5rem;
      background-image: url(https://assets.codepen.io/13471/charizard-gx.webp);

      }
      
      &-2 {
        
        width: 40rem;
        height: 55.5rem;
        backface-visibility: hidden;
        transition: transform 800ms ease;
        background-size: 100%;
        border-radius: 1.5rem;
        background-image: url(https://assets.codepen.io/13471/eevee-gx.webp);
      }
      &-3 {
        width: 40rem;
        height: 55.5rem;
        backface-visibility: hidden;
        transition: transform 800ms ease;
        background-size: 100%;
        border-radius: 1.5rem;
        background-image: url(https://assets.codepen.io/13471/mewtwo-gx.webp);
      }
      &-4 {
        width: 40rem;
        height: 55.5rem;
        backface-visibility: hidden;
        transition: transform 800ms ease;
        background-size: 100%;
        border-radius: 1.5rem;
        background-image: url(https://assets.codepen.io/13471/pikachu-gx.webp);
      }
    }

    &--back  {
      &-1{
        width: 40rem;
      height: 55.5rem;
      backface-visibility: hidden;
      transition: transform 800ms ease;
      background-size: 100%;
      border-radius: 1.9rem;
      background-image: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);

      transform: rotateY(180deg);

      }
      
      &-2 {
        width: 40rem;
        height: 55.5rem;
        backface-visibility: hidden;
        transition: transform 800ms ease;
        background-size: 100%;
        border-radius: 1.9rem;
        background-image: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
        
      }
      &-3 {
        width: 40rem;
        height: 55.5rem;
        backface-visibility: hidden;
        transition: transform 800ms ease;
        background-size: 100%;
        border-radius: 1.9rem;
        background-image: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
        
      }
      &-4 {
        width: 40rem;
        height: 55.5rem;
        backface-visibility: hidden;
        transition: transform 800ms ease;
        background-size: 100%;
        border-radius: 1.9rem;
        background-image: url(https://cdn2.bulbagarden.net/upload/1/17/Cardback.jpg);
       
      }
    }

    &:hover &--front-1{
      transform: rotateY(-180deg);
      transition: transform 800ms ease;
    }

    &:hover &--back-1{
      transform: rotateY(0);
      transition: transform 800ms ease;
    }

    &:hover &--sp-1{
      transform: rotateY(-180deg);
      transition: transform 800ms ease;
    }
    
    &:hover &--front-2{
      transform: rotateY(-180deg);
      transition: transform 800ms ease;
    }

    &:hover &--back-2{
      transform: rotateY(0);
      transition: transform 800ms ease;
    }

    &:hover &--sp-2{
      transform: rotateY(-180deg);
      transition: transform 800ms ease;
    }
    
    &:hover &--front-3{
      transform: rotateY(-180deg);
      transition: transform 800ms ease;
    }

    &:hover &--back-3{
      transform: rotateY(0);
      transition: transform 800ms ease;
    }

    &:hover &--sp-3{
      transform: rotateY(-180deg);
      transition: transform 800ms ease;
    }
    
    &:hover &--front-4{
      transform: rotateY(-180deg);
      transition: transform 800ms ease;
    }

    &:hover &--back-4{
      transform: rotateY(0);
      transition: transform 800ms ease;
    }

    &:hover &--sp-4{
      transform: rotateY(-180deg);
      transition: transform 800ms ease;
    }
  }
}
